@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@model AnagramViewModel
@{
    ViewData["Title"] = "Home Page";
}
<hr />
<h1>Search for Anagrams</h1>
<hr />
<div class="alert alert-success">Searches left: @Model.searchesLeft</div>

<ul>
    @foreach (string anagram in Model.WordList)
    {
        <li>@anagram</li>
    }
</ul>


<form asp-action="Index" asp-controller="AnagramSolver">

    <input asp-for="Input" />
    <input type="submit" id="Search" />
</form>



