@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@model AnagramViewModel
@{
    ViewData["Title"] = "Home Page";
}

<h2>List of Anagrams: </h2>
<br />
<ul>
    @foreach (string anagram in Model.WordList)
    {
        <li>@anagram</li>
    }
</ul>



@using (Html.BeginForm("Index", "AnagramSolver", FormMethod.Post))
{
    @Html.TextBoxFor(model => model.Input)
    @Html.ValidationMessageFor(model => model.Input)

    <button type="submit">Find anagrams</button>
}




