@model AnagramViewModel
@{
	ViewData["Title"] = "Home Page";
}

<h2>List of Anagrams: </h2>

<ul>
	@foreach (string anagram in Model.wordList)
	{
		<li>@anagram</li>
	}
</ul>



@using (Html.BeginForm("Index", "AnagramSolver", FormMethod.Post))
{
	@Html.TextBoxFor(model => model.input)
	@Html.ValidationMessageFor(model => model.input)
    //@Request.QueryString.Clear();

	<button type="submit">Find anagrams</button>
}