@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@model AnagramViewModel
@{
    ViewData["Title"] = "Home Page";
}

<h1>Search for Anagrams</h1>
<hr />
<ul>
    @foreach (string anagram in Model.WordList)
    {
        <li>@anagram</li>
    }
</ul>


<form asp-action="Index" asp-controller="AnagramSolver">

    <input asp-for="Input"/>
    <input type="submit" id="Search" />
</form>

@*@using (Html.BeginForm("Index", "AnagramSolver", FormMethod.Post))
{
    @Html.TextBoxFor(model => model.Input)
    @Html.ValidationMessageFor(model => model.Input)

    <button type="submit">Find anagrams</button>
}*@




