@model DictionaryViewModel
@{
    ViewData["Title"] = "Dictionary";
}

<style>

</style>

<html>
<head>
    
</head>
<body>
    <h1>Dictionary</h1>
    <hr />
    <!-- items being paged -->
    <ul>
        @foreach (var element in Model.Items)
        {
            <li>
                <form method="post" asp-controller="AnagramSolver" asp-action="Index">
                    <input class="inputstyle" type="submit" alt="@element" asp-for="Input" value="@element">
                </form>
            </li>
        }
    </ul>

    <!-- pager -->
    @if (Model.Pager.EndPage > 1)
    {
        <ul class="pagination">
            @if (Model.Pager.CurrentPage > 1)
            {
                <li>
                    <a href="~/Dictionary/Index">First</a>
                </li>
                <li>
                    <a href="~/Dictionary/Index?pageNum=@(Model.Pager.CurrentPage - 1)">Previous</a>
                </li>
            }

            @for (var pageNum = Model.Pager.StartPage; pageNum <= Model.Pager.EndPage; pageNum++)
            {
                <li class="@(pageNum == Model.Pager.CurrentPage ? "active" : "")">
                    <a href="~/Dictionary/Index?pageNum=@pageNum">@pageNum</a>
                </li>
            }

            @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
            {
                <li>
                    <a href="~/Dictionary/Index?pageNum=@(Model.Pager.CurrentPage + 1)">Next</a>
                </li>
                <li>
                    <a href="~/Dictionary/Index?pageNum=@(Model.Pager.TotalPages)">Last</a>
                </li>
            }
        </ul>
    }
    <hr />
    <p><a asp-area="" asp-controller="Dictionary" asp-action="Download">Download Dictionary</a></p>
</body>
</html>

