<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MinWordLength" value="2"/>
    <add key="MaxResultAmount" value ="100"/>
    <add key="connectionString" value ="Server=LT-LIT-SC-0116\ANAGRAMSOLVER; Database=Dictionary; Integrated Security=true"/>
  </appSettings>
</configuration>