@model SearchViewModel
@{
    ViewData["Title"] = "Home Page";
}
    <hr />
<h1>Search for words</h1>
<hr />
<ul>
    @foreach (string word in Model.WordList)
    {
        <li>@word</li>
    }
</ul>

<form asp-action="Index" asp-controller="Search">
    
    <input asp-for="Input"/>
    <input type="submit" id="Search" />
</form>



